.path{
    width: 100%;
    height: 35px;
    background: #314985;
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: white;
    padding-left: 20px;
    box-shadow: 0px 1px 10px 0 rgba(62, 62, 62, 0.18)
}
.path p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 38px;
    text-align: center;

}
.dashboard-overall-container {
    overflow: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0px 1px 10px 0 rgba(62, 62, 62, 0.18)
}
.dashboard-overall-container h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}



.overview-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
.overview-grids {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.overview-item {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.overview-item number{

    /* Body 1/Semi Bold */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #5D6679;

}
.overview-item p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

}

/*make-report-button*/
.report-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.report-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    gap: 8px;
    background: #314985;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF;

}
/* Total overview */
/*

position: absolute;
width: 1106px;
height: 195px;
left: 294px;
top: 118px;

background: #FFFFFF;
border-radius: 8px;


!* Total Overview *!

position: absolute;
width: 144px;
height: 30px;
left: 16px;
top: 20px;

!* Sub heading/Medium *!
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
!* identical to box height, or 150% *!

!* Grey/grey-800 *!
color: #383E49;



!* Frame 57 *!

!* Auto layout *!
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 116px;
height: 84px;
left: 28px;
top: 69px;



!* Quantity *!

width: 30px;
height: 30px;

background: #FFEEDB;
border-radius: 4px;

!* Inside auto layout *!
flex: none;
order: 0;
flex-grow: 0;


!* Quantity *!

position: absolute;
width: 25px;
height: 23.53px;
left: 2.41px;
top: 3px;



!* Group 34 *!

position: absolute;
width: 25px;
height: 23.53px;
left: 0px;
top: 0px;



!* Vector *!

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #DBA362;
border: 0.2px solid #DBA362;


!* Vector *!

position: absolute;
left: 40.5%;
right: 40.43%;
top: 17.72%;
bottom: 79.75%;

background: #DBA362;
border: 0.2px solid #DBA362;


!* Frame 54 *!

!* Auto layout *!
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 2px;

width: 116px;
height: 46px;


!* Inside auto layout *!
flex: none;
order: 1;
flex-grow: 0;


!* 3 *!

width: 11px;
height: 24px;

!* Body 1/Semi Bold *!
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
!* identical to box height, or 150% *!

!* Grey/grey-600 *!
color: #5D6679;


!* Inside auto layout *!
flex: none;
order: 0;
flex-grow: 0;


!* Total equipments *!

width: 116px;
height: 20px;

!* Body 2/Medium *!
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
!* identical to box height, or 143% *!

color: #444444;


!* Inside auto layout *!
flex: none;
order: 1;
flex-grow: 0;


!* Frame 59 *!

!* Auto layout *!
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 210px;
height: 84px;
left: 433px;
top: 69px;



!* Suppliers *!

width: 30px;
height: 30px;

background: #E5F7FD;
border-radius: 4px;

!* Inside auto layout *!
flex: none;
order: 0;
flex-grow: 0;


!* Suppliers *!

position: absolute;
width: 21.78px;
height: 21.78px;
left: 4px;
top: 4px;



!* Vector *!

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #24B8F1;


!* Frame 54 *!

!* Auto layout *!
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 2px;

width: 210px;
height: 46px;


!* Inside auto layout *!
flex: none;
order: 1;
flex-grow: 0;


!* 20(5) *!

width: 44px;
height: 24px;

!* Body 1/Semi Bold *!
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
!* identical to box height, or 150% *!

!* Grey/grey-600 *!
color: #5D6679;


!* Inside auto layout *!
flex: none;
order: 0;
flex-grow: 0;


!* Number of managers (librarian) *!

width: 210px;
height: 20px;

!* Body 2/Medium *!
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
!* identical to box height, or 143% *!

color: #444444;


!* Inside auto layout *!
flex: none;
order: 1;
flex-grow: 0;


!* Frame 58 *!

!* Auto layout *!
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 146px;
height: 84px;
left: 219px;
top: 69px;



!* Quantity *!

width: 30px;
height: 30px;

background: #FFEEDB;
border-radius: 4px;

!* Inside auto layout *!
flex: none;
order: 0;
flex-grow: 0;


!* Quantity *!

position: absolute;
width: 25px;
height: 23.53px;
left: 2.41px;
top: 3px;



!* Group 34 *!

position: absolute;
width: 25px;
height: 23.53px;
left: 0px;
top: 0px;



!* Vector *!

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #DBA362;
border: 0.2px solid #DBA362;


!* Vector *!

position: absolute;
left: 40.5%;
right: 40.43%;
top: 17.72%;
bottom: 79.75%;

background: #DBA362;
border: 0.2px solid #DBA362;


!* Frame 54 *!

!* Auto layout *!
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 2px;

width: 146px;
height: 46px;


!* Inside auto layout *!
flex: none;
order: 1;
flex-grow: 0;


!* 2 *!

width: 10px;
height: 24px;

!* Body 1/Semi Bold *!
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
!* identical to box height, or 150% *!

!* Grey/grey-600 *!
color: #5D6679;


!* Inside auto layout *!
flex: none;
order: 0;
flex-grow: 0;


!* Document Categories *!

width: 146px;
height: 20px;

!* Body 2/Medium *!
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
!* identical to box height, or 143% *!

color: #444444;


!* Inside auto layout *!
flex: none;
order: 1;
flex-grow: 0;


!* Frame 60 *!

!* Auto layout *!
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 154px;
height: 84px;
left: 711px;
top: 69px;



!* Quantity *!

width: 30px;
height: 30px;

background: #FFEEDB;
border-radius: 4px;

!* Inside auto layout *!
flex: none;
order: 0;
flex-grow: 0;


!* Quantity *!

position: absolute;
width: 25px;
height: 23.53px;
left: 2.41px;
top: 3px;



!* Group 34 *!

position: absolute;
width: 25px;
height: 23.53px;
left: 0px;
top: 0px;



!* Vector *!

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #DBA362;
border: 0.2px solid #DBA362;


!* Vector *!

position: absolute;
left: 40.5%;
right: 40.43%;
top: 17.72%;
bottom: 79.75%;

background: #DBA362;
border: 0.2px solid #DBA362;


!* Frame 54 *!

!* Auto layout *!
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 2px;

width: 154px;
height: 46px;


!* Inside auto layout *!
flex: none;
order: 1;
flex-grow: 0;


!* 869 *!

width: 32px;
height: 24px;

!* Body 1/Semi Bold *!
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
!* identical to box height, or 150% *!

!* Grey/grey-600 *!
color: #5D6679;


!* Inside auto layout *!
flex: none;
order: 0;
flex-grow: 0;


!* Number of equipments *!

width: 154px;
height: 20px;

!* Body 2/Medium *!
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
!* identical to box height, or 143% *!

color: #444444;


!* Inside auto layout *!
flex: none;
order: 1;
flex-grow: 0;


!* Frame 61 *!

!* Auto layout *!
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 150px;
height: 84px;
left: 933px;
top: 69px;



!* Quantity *!

width: 30px;
height: 30px;

background: #FFEEDB;
border-radius: 4px;

!* Inside auto layout *!
flex: none;
order: 0;
flex-grow: 0;


!* Quantity *!

position: absolute;
width: 25px;
height: 23.53px;
left: 2.41px;
top: 3px;



!* Group 34 *!

position: absolute;
width: 25px;
height: 23.53px;
left: 0px;
top: 0px;



!* Vector *!

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #DBA362;
border: 0.2px solid #DBA362;


!* Vector *!

position: absolute;
left: 40.5%;
right: 40.43%;
top: 17.72%;
bottom: 79.75%;

background: #DBA362;
border: 0.2px solid #DBA362;


!* Frame 54 *!

!* Auto layout *!
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 2px;

width: 150px;
height: 46px;


!* Inside auto layout *!
flex: none;
order: 1;
flex-grow: 0;


!* 501 *!

width: 29px;
height: 24px;

!* Body 1/Semi Bold *!
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
!* identical to box height, or 150% *!

!* Grey/grey-600 *!
color: #5D6679;


!* Inside auto layout *!
flex: none;
order: 0;
flex-grow: 0;


!* Number of documents *!

width: 150px;
height: 20px;

!* Body 2/Medium *!
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
!* identical to box height, or 143% *!

color: #444444;


!* Inside auto layout *!
flex: none;
order: 1;
flex-grow: 0;


!* Line 23 *!

position: absolute;
width: 91px;
height: 0px;
left: 195px;
top: 72px;

!* Grey/grey-50 *!
border: 1px solid #F0F1F3;
transform: rotate(90deg);


!* Line 24 *!

position: absolute;
width: 91px;
height: 0px;
left: 399px;
top: 64px;

!* Grey/grey-50 *!
border: 1px solid #F0F1F3;
transform: rotate(90deg);


!* Line 25 *!

position: absolute;
width: 91px;
height: 0px;
left: 677px;
top: 67px;

!* Grey/grey-50 *!
border: 1px solid #F0F1F3;
transform: rotate(90deg);


!* Line 26 *!

position: absolute;
width: 91px;
height: 0px;
left: 899px;
top: 67px;

!* Grey/grey-50 *!
border: 1px solid #F0F1F3;
transform: rotate(90deg);
*/
